@font-face {
    src: url(fonts/[AireExterior].ttf);
    font-family: "Aire Exterior";
}

@font-face {
    src: url(fonts/BebasNeueCyrillic.ttf);
    font-family: "Bebas Neue Cyrillic";
}

* {
    box-sizing: border-box;
    font-family: "Bebas Neue Cyrillic";
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    background-image: url('img/bg_planet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

button {
    border: none;
    outline: none;
}

.wrapper {
    max-width: 1080px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}

.center {
    text-align: center;
}


/* header */

.header {
    display: flex;
    justify-content: space-evenly;
}

.header-txt-1 {
    margin: 40px 0 150px;
}

.nav {
    text-decoration: none;
    color: #cc2666;
    text-transform: capitalize;
    font-size: 49px;
    font-family: "Aire Exterior";
}

.nav:hover {
    text-decoration: underline;
}

.title {
    font-size: 80px;
    max-width: 375px;
}

.discription {
    font-size: 30px;
}

.header-txt-2 {
    max-width: 690px;
}

.block {
    vertical-align: top;
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 200px;
    max-height: 274px;
}

.little-title {
    font-size: 131px;
    line-height: 0.7;
}

.discription-2 {
    font-size: 30px;
    padding-top: 10px;
}

.prefix {
    font-size: 80px;
    color: #cc2666;
    line-height: 0.72;
}

.robot-animation {
    max-width: 370px;
    position: relative;
}

.robot-txt {
    max-width: 280px;
}

.robot-txt__inner {
    max-width: inherit;
    /* 295 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999999;
    /* background-image: url(../miiura.github.io/img/pink-bg.png);
    background-repeat: no-repeat;
    background-size: cover; */
}

.robot-txt__p {
    padding: 25px 50px;
    font-size: 25px;
}

.robot-block {
    float: right;
}

.robot {
    margin-top: 40px;
    max-width: 185px;
}