@font-face {
    src: url(fonts/[AireExterior].ttf);
    font-family: "Aire Exterior";
}

* {
    box-sizing: border-box;
    font-family: "Aire Exterior";
    color: #fff;
    overflow: hidden;
}

p {
    font-family: "Aire Exterior";
}

button {
    border: none;
    outline: none;
}

.wrapper {
    max-width: 1080px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
    outline: 1px solid #fff;
}

.center {
    text-align: center;
}

body {
    /* background-image: url('../miiura.github.io/img/background.png'); */
    background-image: url('img/bg.png');
}

/* header */

.header {
    padding-top: 40px;
    overflow: hidden;
}

.new-list {
    display: none;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    margin: 0 auto;
    margin: 0 15px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

li a {
    text-decoration: none;
    line-height: 120px;
}

.header__img {
    max-width: 130px;
    margin: 0 auto;
    /* height: 114px; */
    /* display: block; */
}

#title {
    max-width: 295px;
    margin: 0 auto;
    font-size: 121px;
    text-align: center;
    font-weight: 200;
    line-height: 0.75;
}

header h2 {
    margin: 0 auto;
    font-size: 49px;
    text-align: center;
    font-weight: 200;
}

#symbol {
    margin: 70px auto;
    text-align: center;
}

/* Краткое описание нашей команды - first section */

.header__title, .team__title {
    margin-top: 40px;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 100;
}

.header__title2 {
    max-width: 230px;
    padding: 35px 0 20px;
    margin: 0 auto;
    font-size: 86px;
    font-weight: 100;
    line-height: 0.75;
}

.header__title2+p {
    max-width: 860px;
    margin: 0 auto 100px;
    text-indent: 20px;
    font-family: "Myriad Pro";
}

/* Наша команда - second section */

.team__title {
    margin-bottom: 90px;
}

.teams {
    max-width: 800px;
    height: 530px;
    margin: 0 auto;
}

.row {
    padding-bottom: 70px;
}

.pers {
    display: flex;
    justify-content: space-between;
}

.pers-info {
    width: 265px;
    height: 225px;
}

.avatar {
    width: 185px;
    height: 185px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}

.avatar>h3 {
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 30px;
    text-align: center;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
}

.avatar+p {
    margin: 0;
    text-align: center;
    font-size: 30px;
}

@media (max-width: 768px) {
    nav {
        display: none;
    }
    .new-list {
        height: auto;
        margin-left: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}