
.icon-volume-off:before { content: '\e800'; } /* '' */
.icon-volume-down:before { content: '\e801'; } /* '' */
.icon-volume-up:before { content: '\e802'; } /* '' */
.icon-pause:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-logout:before { content: '\e805'; } /* '' */
.icon-to-start:before { content: '\e806'; } /* '' */
.icon-to-end:before { content: '\e807'; } /* '' */
.icon-play:before { content: '\e808'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */